# Project 3, L1 Dataset 2 (CLEANING DATA)

Load the dataset

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the dataset
file_path = r"C:\Users\ktand\Downloads\INvideos.csv"
data = pd.read_csv(file_path)

# Display summary statistics to check for anomalies
data.describe(include='all')

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
count,29305,29305,29305,29305,29305.000000,29305,29305,2.930500e+04,29305.000000,29305.000000,29305.000000,29305,29305,29305,29305,28797
unique,15637,205,15996,1389,NaN,15675,11931,NaN,NaN,NaN,NaN,15839,2,2,2,13118
top,#NAME?,2018-01-20 00:00:00,nandhini | today @ 9 pm | sun tv,vikatantv,NaN,2018-03-01 04:30:01+00:00,[none],NaN,NaN,NaN,NaN,https://i.ytimg.com/vi/fTvelC4ZZds/default.jpg,False,False,False,Subscribers Link: http://bit.ly/2qb69dZ\n\nCon...
freq,369,190,15,207,NaN,11,1209,NaN,NaN,NaN,NaN,7,28239,28606,29302,150
mean,NaN,NaN,NaN,NaN,22.212592,NaN,NaN,3.632928e+05,8212.539703,534.569937,899.549906,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,5.968538,NaN,NaN,3.632120e+05,17974.305305,942.317444,5406.174243,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,4.024000e+03,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,23.000000,NaN,NaN,1.008050e+05,666.000000,84.000000,58.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,24.000000,NaN,NaN,2.234730e+05,2112.000000,229.000000,225.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,24.000000,NaN,NaN,5.010900e+05,6974.000000,605.000000,719.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,43.000000,NaN,NaN,1.660490e+06,370533.000000,27037.000000,382685.000000,NaN,NaN,NaN,NaN,NaN

# Checking duplicates

In [7]:
# Check for duplicate rows
duplicate_rows = data.duplicated().sum()
print(f'Duplicate rows: {duplicate_rows}')

# Remove duplicate rows
data_cleaned = data.drop_duplicates()

# Verify duplicates are removed
data_cleaned.duplicated().sum()

Duplicate rows: 0

0

# Standardlization

In [ ]:
# Convert trending_date to datetime format
data_cleaned.loc[:, 'trending_date'] = pd.to_datetime(data_cleaned['trending_date'], format='%y.%d.%m')

# Convert publish_time to datetime format
data_cleaned.loc[:, 'publish_time'] = pd.to_datetime(data_cleaned['publish_time'])

# Standardize text columns (e.g., converting to lowercase)
data_cleaned.loc[:, 'title'] = data_cleaned['title'].str.lower()
data_cleaned.loc[:, 'channel_title'] = data_cleaned['channel_title'].str.lower()
data_cleaned.loc[:, 'tags'] = data_cleaned['tags'].str.lower()
print(data_cleaned.head())

# Outlier dectection

In [12]:
# Define a function to detect outliers using the IQR method
def detect_outliers(column):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return column[(column < lower_bound) | (column > upper_bound)]

# Detect outliers in numerical columns
numerical_columns = ['views', 'likes', 'dislikes', 'comment_count']
for column in numerical_columns:
    outliers = detect_outliers(data_cleaned[column])
    print(f'Outliers in {column}: {outliers.count()}')

# Optionally, you can remove outliers
# For example, removing outliers in the views column
data_cleaned = data_cleaned[~data_cleaned['views'].isin(detect_outliers(data_cleaned['views']))]

Outliers in views: 1875
Outliers in likes: 3830
Outliers in dislikes: 2652
Outliers in comment_count: 3353

# Cleaning the dataset

In [10]:
# Save the cleaned dataset to a new CSV file
data_cleaned.to_csv(r"C:\Users\ktand\Downloads\INvideos.csv", index=False)